app/etc/local.xml
win32_import/config.ini
Milano_Premium_Magento_Theme_1_3_5.zip
media/*
var/*
magmi/conf/*
magmi/state/*
googlemerchant.csv
win32_import/mastro/*
win32_import/magento_csv/*
win32_import/magento_images/*
win32_import/lib/*
win32_import/old/*
win32_import/log/*
win32_import/BMP/*
win32_import/backups/*
/nbproject/private/
/magmi/plugins/extra/general/socialnotify/testdb.php
/magmi/plugins/extra/general/socialnotify/fbConf.php