<?xml version="1.0"?>
<config>
    <modules>
        <Crius_SkipStep1>
            <version>0.1.8</version>
        </Crius_SkipStep1>
    </modules>
    <global>
        <models>
            <skipstep1>
                <class>Crius_SkipStep1_Model</class>
            </skipstep1>
        </models>
        <helpers>
            <skipstep1>
                <class>Crius_SkipStep1_Helper</class>
            </skipstep1>
        </helpers>
        <blocks>
            <skipstep1>
                <class>Crius_SkipStep1_Block</class>
            </skipstep1>
			<checkout>
				<rewrite>
					<onepage>Crius_SkipStep1_Block_Checkout_Onepage</onepage>
				</rewrite>
			</checkout>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Crius_SkipStep1>
                    <files>
                        <default>Crius_SkipStep1.csv</default>
                    </files>
                </Crius_SkipStep1>
            </modules>	
        </translate>
		<layout>
            <updates>
                <skipstep1>
                    <file>skipstep1.xml</file>
                </skipstep1>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Crius_SkipStep1>
                    <files>
                        <default>Crius_SkipStep1.csv</default>
                    </files>
                </Crius_SkipStep1>
            </modules>	
        </translate>
    </adminhtml>
    <default>
        <checkout>
            <skipstep1>
                <enabled>1</enabled>
                <default_method>guest</default_method>
                <plugandplay>1</plugandplay>
                <login_link>1</login_link>
            </skipstep1>
        </checkout>
    </default>
</config>