<?xml version="1.0"?>
<config>
    <modules>
        <ShopShark_SharkSlideshow>
            <version>1.0.0</version>
        </ShopShark_SharkSlideshow>
    </modules>
	<frontend>
        <layout>
            <updates>
                <revslider>
                    <file>revslider.xml</file>
                </revslider>
            </updates>
        </layout>        
    </frontend>
    <admin>
        <routers>
			<sharkslideshow>
				<use>admin</use>
				<args>
					<module>ShopShark_SharkSlideshow</module>
					<frontName>sharkslideshow</frontName>
				</args>
			</sharkslideshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
                    <slideshow_items translate="title" module="sharkslideshow">
                        <title>Slideshow Items</title>
                        <sort_order>90</sort_order>
						<action>sharkslideshow/adminhtml_sharkrevslider</action>
                    </slideshow_items>
				</children>
			</cms>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sharkslideshow>
                                            <title>Shark Slideshow</title>
                                        </sharkslideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <shopshark>
                            <title>ShopShark</title>
                            <children>
                                <shark>
                                    <title>Shark</title>
                                    <children>
                                        <sharkslideshow>
                                            <title>Slideshow</title>
                                            <children>
                                                <revolution_items>
                                                    <title>Revolution slider Slides</title>
                                                </revolution_items>
                                                <configuration>
                                                    <title>Configuration</title>
                                                </configuration>
                                            </children>
                                        </sharkslideshow>
                                    </children>
                                </shark>
                            </children>
                        </shopshark>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <sharkslideshow>
                <class>ShopShark_SharkSlideshow_Model</class>
                <resourceModel>sharkslideshow_mysql4</resourceModel>
            </sharkslideshow>
            <sharkslideshow_mysql4>
                <class>ShopShark_SharkSlideshow_Model_Mysql4</class>
                <entities>
                    <revolution_slides>
                        <table>shopshark_revslider_slides</table>
                    </revolution_slides>
	                <revolution_slides_store>
                        <table>shopshark_revslider_slides_store</table>
                    </revolution_slides_store>
                </entities>
            </sharkslideshow_mysql4>
        </models>
        <resources>
            <sharkslideshow_setup>
                <setup>
                    <module>ShopShark_SharkSlideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sharkslideshow_setup>
            <sharkslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sharkslideshow_write>
            <sharkslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sharkslideshow_read>
        </resources>
        <blocks>
            <sharkslideshow>
                <class>ShopShark_SharkSlideshow_Block</class>
            </sharkslideshow>
        </blocks>
        <helpers>
            <sharkslideshow>
                <class>ShopShark_SharkSlideshow_Helper</class>
            </sharkslideshow>
        </helpers>
    </global>
	<default>
		<sharkslideshow>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <slider>flexslider</slider>
			</config>
            <revolutionslider>
                <delay>9000</delay>
                <startheight>400</startheight>
                <startwidth>1754</startwidth>
                <hideThumbs>200</hideThumbs>
                <navigationType>none</navigationType>
                <navigationArrows>verticalcentered</navigationArrows>
                <navigationStyle>round</navigationStyle>
                <touchenabled>on</touchenabled>
                <shuffle>off</shuffle>
                <navOffsetHorizontal>0</navOffsetHorizontal>
                <navOffsetVertical>-14</navOffsetVertical>
                <onHoverStop>on</onHoverStop>
                <thumbWidth>100</thumbWidth>
                <thumbHeight>50</thumbHeight>
                <thumbAmount>5</thumbAmount>
                <hideCaptionAtLimit>767</hideCaptionAtLimit>
                <hideAllCaptionAtLilmit>767</hideAllCaptionAtLilmit>
                <hideSliderAtLimit>767</hideSliderAtLimit>
                <stopAtSlide>-1</stopAtSlide>
                <stopAfterLoops>-1</stopAfterLoops>
                <timeline>1</timeline>
                <timeline_position>bottom</timeline_position>
            </revolutionslider>
		</sharkslideshow>
	</default>
</config>