.header .header-center
{
	top: -40px;
	left: 15px;
	position: absolute;
}
.main
{
	background: url(../images/ts/white40.png);
}
.validation-advice
{
	position: relative;
	z-index: 100;
	margin-top: 3px;
	background-color: #666666;
	color: #FFF;
	font-family: NovecentowideUltraLightBold;
	font-size: 9px;
	padding: 4px 5px 2px;
	-webkit-box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.6);
	box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.6);
	max-width: 165px;
}
/*Main Menu Common Style*/
.nav-container.sticky #nav
{
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px dotted #CE9CC6;
	background: #FFF;
}
.nav-container.sticky .nav-container-inner:before
{
	content: "";
	display: block;
	position: absolute;
	width: 960px;
	height: 100%;
	margin-left: 0;
	-webkit-border-radius: initial;
	-moz-border-radius: initial;
	border-radius: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 4px solid #CD9DC5;
}
#nav UL.level0
{
	border-top: 1px dashed #CE9CC6;
}
#nav UL LI A SPAN:hover
{
	font-weight: normal !important;
	color: #552A4F !important;
	text-decoration: underline;
}
#nav UL, #nav DIV
{
	position: absolute;
	border: 4px solid #E1C8DD;
}
.nav-container-outer
{
	margin-top: 84px;
	background: url(../images/ts/white50.png);
}
/*LINK COLOR CHANGE*/
.product-view .product-shop .add-to-links LI A
{
	color: #552A4F;
	font-size: 9px;
	font-family: NovecentowideLightBold;
	font-weight: normal;
	padding-right: 16px;
	position: relative;
}
.add-to-cart BUTTON.button
{
	background: #E1C8DD;
	border: 4px solid #CE9CC6;
	color: #000000;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.add-to-cart BUTTON.button:hover
{
	background: #CE9CC6;
	border: 4px solid #CE9CC6;
	color: #552A4F;
}
.product-view .product-shop .availability.in-stock SPAN
{
	color: #84D450;
}
INPUT.input-text:focus, TEXTAREA:focus
{
	border-color: #552A4F;
}
INPUT.input-text, SELECT, TEXTAREA
{
	background: #FFF;
	border: 1px solid #E1C8DD;
}
INPUT.qty
{
	width: 1.5em !important;
	height: 13px;
	text-align: center;
	border: 2px solid #333;
	margin: 0;
	color: #000;
	font-family: NovecentowideUltraLightBold;
}
.product-tabs
{
	border-bottom: 1px dotted #0091D8;
}
.product-tabs LI.active A
{
	border-bottom: 5px solid #97CBE2;
}
.product-tabs LI.active A, .product-tabs LI:hover A
{
	color: #0091D8;
}
.jqTransformSelectWrapper DIV SPAN
{
	color: #9F9F9F;
}
.breadcrumbs LI STRONG
{
	color: #CD9DC5;
}
.header-small-container
{
	font-family: NovecentowideBookRegular;
	font-size: 10px;
	background: transparent;
	color: #FFFFFF;
}
.header-small-container A, .header-small-container A:hover
{
	color: #FFFFFF;
}
.header-menu > UL, .header-menu > UL > LI > A
{
	font-family: NovecentowideNormalRegular;
	font-size: 11px;
	color: #CD9DC5;
}
.cart-header .button-show A, .cart-header .price
{
	display: inline-block;
	font-family: NovecentowideNormalRegular;
	font-size: 13px;
	color: #000000;
}
/*------- HEADER ------------*/
.cart-header #header-items
{
	right: 0;
	padding: 15px;
	z-index: 1400;
	width: 300px;
	position: absolute;
	display: none;
	color: #666;
	background: #FFF;
	border: 5px solid #E1C8DD;
	border-top: 1px dashed #E1C8DD;
	font-family: TeXGyreAdventorRegular;
}
.header .welcome-msg
{
	color: #FFFFFF;
	line-height: 10px;
	margin: 12px 0 11px;
	display: inline-block;
}
.header-container
{
	background: url(../images/storebaby/headerbgbg.jpg) no-repeat top center;
}
.bs-topSearch
{
	position: relative;
	z-index: 100;
	float: left;
	margin-left: 186px;
	/*+placement:shift -8px 8px;*/
	position: relative;
	left: -8px;
	top: 8px;
}
.header .form-search
{
	float: right;
	margin: 2px 0;
	border: 1px solid;
	background: #FFFFFF;
}
.header .form-search BUTTON.button
{
	float: right;
	height: 26px;
	background: #FFFFFF;
	color: #ACACAC;
	line-height: 21px;
	padding: 2px 10px;
}
.form-search INPUT.input-text
{
	float: left;
	width: 319px;
	border: none;
	background: none;
	padding: 4px 0 4px 8px;
	margin: 0;
	color: #999;
}
.form-search INPUT.input-text:active
{
	float: left;
	width: 319px;
	border-right: 2px transparent;
	padding: 4px 0px 4px 8px;
	color: #000000;
}
.header INPUT.input-text, .header SELECT, .header TEXTAREA
{
	background: #FFF;
	border: 1px solid #FFFFFF;
}
#nav LI.level0 > A > SPAN, #nav LI.level0 > P > A > SPAN
{
	font-family: NovecentowideUltraLightBold;
	font-size: 13px;
	color: #000000;
}
#nav LI.level0 > A:hover > SPAN, #nav LI.level0.active > A > SPAN
{
	color: #552A4F;
	text-decoration: underline;
}
.header-menu
{
	position: absolute;
	top: 50px;
	left: 225px;
	width: 397px !important;
	z-index: 1;
}
.header-main-container .header-right
{
	background: url(../images/ts/white80.png);
	/*+placement:shift -6px 79px;*/
	position: relative;
	left: -6px;
	top: 79px;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 6px;
	margin-top: -25px;
}
/*---------- menu --------------------
---------- FEATURED CATEGORIES*/
.bs-featuredCategories
{
	background: url(../images/ts/white60.png) repeat center center, url(../images/lightbox-btn-close.gif) no-repeat center center;
	margin-bottom: 385px;
	padding-bottom: 11px;
	margin-top: 13px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.bs-row
{
	overflow: hidden;
	margin-bottom: 8px;
}
.bs-cat
{
	position: relative;
	float: left;
	height: 217px;
	width: 288px;
	padding-left: 27px;
}
.bs-cat A H2
{
	font-family: NovecentowideUltraLightBold;
	position: absolute;
	bottom: 0;
	color: #CE9CC6;
	margin: 0px;
	width: 275px;
	line-height: 0.9;
	padding-bottom: 3px;
	border: none !important;
}
.bs-cat A H2:hover
{
	color: #552A4F;
}
.bs-cat A.title
{
	position: relative;
	display: block;
	margin: 0px 0px 4px;
	font-size: smaller;
	text-align: left;
	width: 275px;
	height: 48px;
	border-bottom: 1px dashed #CD9DC5;
}
.bs-cat A.title:hover
{
	text-decoration: none;
}
.bs-cat DIV.bs-left
{
	float: left;
	width: 190px;
	height: 154px;
}
.bs-cat DIV.bs-left A
{
	float: left;
	width: 190px;
	border: 1px solid transparent;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	height: 154px;
	background-repeat: repeat, no-repeat;
	background-position: center center;
	background-size: contain;
	margin-top: 1px;
}
.bs-cat DIV.bs-left A:hover
{
	border: 1px solid #552A4F;
}
.bs-cat DIV.bs-right
{
	float: left;
	height: 150px;
	margin-left: 11px;
}
.bs-cat DIV.bs-right A IMG
{
	height: 70px;
	padding: 1px;
}
.bs-cat DIV.bs-right A
{
	display: block;
	border: 1px solid #E1C8DD;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 72px;
	margin-bottom: 5px;
}
.bs-cat DIV.bs-right A:hover
{
	border: 1px solid #552A4F;
}
/*sfc color rules*/
.bs-blue A H2, .bs-blue DIV.bs-left A
{
	border: 1px solid transparent;
	color: #0091D8;
}
.bs-blue DIV.bs-right A
{
	border: 1px solid #97CBE2;
}
.bs-orange A H2, .bs-orange DIV.bs-left A, .bs-orange DIV.bs-right A
{
	border: 1px solid transparent;
	color: #FAB310;
}
.bs-orange DIV.bs-right A
{
	border: 1px solid #E9BE5B;
}
.bs-red A H2, .bs-red DIV.bs-left A, .bs-red DIV.bs-right A
{
	border: 1px solid transparent;
	color: #D25252;
}
.bs-red DIV.bs-right A
{
	border: 1px solid #EFBFBF;
}
.bs-black A H2, .bs-black DIV.bs-left A, .bs-black DIV.bs-right A
{
	border: 1px solid transparent;
	color: #707070;
}
.bs-black DIV.bs-right A
{
	border: 1px solid #9F9F9F;
}
.bs-green A H2, .bs-green DIV.bs-left A, .bs-green DIV.bs-right A
{
	border: 1px solid transparent;
	color: #55952A;
}
.bs-green DIV.bs-right A
{
	border: 1px solid #84D450;
}
