<?xml version="1.0"?>
<!-- Emergento -->
<config>
    <modules>
        <Emergento_Iwbank>
            <version>0.1.0</version>
        </Emergento_Iwbank>
    </modules>
    <global>
        <models>
            <emergento_iwbank>
                <class>Emergento_Iwbank_Model</class>
            </emergento_iwbank>
        </models>
            <events>
          <sales_order_place_before>
            <observers>
              <emergento_iwbank_iwbank_observer>
                <type>singleton</type>
                <class>Emergento_Iwbank_Model_Iwbank_Observer</class>
                <method>send_transaction_email</method>
              </emergento_iwbank_iwbank_observer>
            </observers>
          </sales_order_place_before>     
        </events>
        <helpers>
            <iwbank>
                <class>Emergento_Iwbank_Helper</class>
            </iwbank>
        </helpers>
        <blocks>
            <iwbank>
                <class>Emergento_Iwbank_Block</class>
            </iwbank>
        </blocks>
        <resources>
            <iwbank_setup>
                <setup>
                    <module>Emergento_Iwbank</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwbank_setup>
            <iwbank_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwbank_write>
            <iwbank_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwbank_read>
        </resources>
        <payment_iwbank>
            <cc>
                <types>
                    <VI>
                        <code>VI</code>
                        <frontcode>Visa</frontcode>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <frontcode>Mastercard</frontcode>
                        <name>MasterCard/Maestro</name>
                        <order>20</order>
                    </MC>
                    <DINERS>
                        <code>DN</code>
                        <frontcode>Diners</frontcode>
                        <name>Diners</name>
                        <order>45</order>
                    </DINERS>
                    <AE>
                        <code>AE</code>
                        <frontcode>Amex</frontcode>
                        <name>American Expressa</name>
                        <order>40</order>
                    </AE>
                    <JCB>
                        <code>JCB</code>
                        <frontcode>Jcb</frontcode>
                        <name>JCB</name>
                        <order>50</order>
                    </JCB>
                </types>
            </cc>
        </payment_iwbank>
    </global>
    <frontend>
        <routers>
            <iwbank>
                <use>standard</use>
                <args>
                    <module>Emergento_Iwbank</module>
                    <frontName>iwbank</frontName>
                </args>
            </iwbank>
        </routers>
                <layout>
          <updates>
            <iwbank>
              <file>iwbank.xml</file>
            </iwbank>
          </updates>
        </layout>
        <translate>
            <modules>
                <Emergento_Iwbank>
                    <files>
                        <default>Emergento_Iwbank.csv</default>
                    </files>
                </Emergento_Iwbank>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Emergento_Iwbank>
                    <files>
                        <default>Emergento_Iwbank.csv</default>
                    </files>
                </Emergento_Iwbank>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <iwbank_cc>
                <active>0</active>
                <model>emergento_iwbank/cc</model>
                <order_status>1</order_status>
                <title>Pagamento con carta di credito sul server sicuro di Iwbank.</title>
                <allowspecific>0</allowspecific>
                <request_type>authorize</request_type>
                <test_mode>1</test_mode>
                <transaction_prefix>iwbank</transaction_prefix>
                <direct_payment>0</direct_payment>
                <notification_email></notification_email>
            </iwbank_cc>
        </payment>
    </default>
</config>
