<?xml version="1.0"?>
<config>
    <modules>
        <ShopShark_ThemeConfig>
            <version>1.0.0</version>
        </ShopShark_ThemeConfig>
    </modules>
	<frontend>
		<translate>
			<modules>
		     	<ShopShark_ThemeConfig>
		        	<files>
		            	<default>ShopShark_ThemeConfig.csv</default>
		        	</files>
		    	</ShopShark_ThemeConfig>
			</modules>
		</translate>
	</frontend>
	<admin>
        <routers>
            <themeconfig>
                <use>admin</use>
                <args>
                    <module>ShopShark_ThemeConfig</module>
                    <frontName>themeconfig</frontName>
                </args>
            </themeconfig>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
		     	<ShopShark_ThemeConfig>
		        	<files>
		            	<default>ShopShark_ThemeConfig.csv</default>
		        	</files>
		    	</ShopShark_ThemeConfig>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<models>
            <ThemeConfig>
                <class>ShopShark_ThemeConfig_Model</class>
            </ThemeConfig>   
        </models>
		<helpers>
			<ThemeConfig>
				<class>ShopShark_ThemeConfig_Helper</class>
			</ThemeConfig>
		</helpers>
		<blocks>
			<ThemeConfig>
            	<class>ShopShark_ThemeConfig_Block</class>
			</ThemeConfig>
		</blocks>
		<events>
            <controller_action_layout_load_before>
                <observers>
                    <themeconfig>
                        <class>ShopShark_ThemeConfig_Model_Observer</class>
                        <method>addThemeConfigHandles</method>
                    </themeconfig>
                </observers>
            </controller_action_layout_load_before>
        </events>
		<resources>
            <themeconfig_setup>
                <setup>
                    <module>ShopShark_ThemeConfig</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themeconfig_setup>
            <themeconfig_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themeconfig_write>
            <themeconfig_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themeconfig_read>
        </resources>
	    <themeconfig />
	</global>
	<default>
		<milanoconfig>
			<activation_options>
				<already_activated>Not activated</already_activated>
			</activation_options>
			<generaloptions>
				<logo>default/Milano_Magento_Themes_Logo_1.png</logo>
				<topbtn>1</topbtn>
				<show_subscribe>1</show_subscribe>
			</generaloptions>
			<menuoptions>
				<menutype>1</menutype>
				<mmenu_style>1</mmenu_style>
				<show_home_link>1</show_home_link>
				<stickymenu>0</stickymenu>
				<additional_nav></additional_nav>
				<additional_nav_href></additional_nav_href>
			</menuoptions>
			<homeoptions>
				<show_new_products>1</show_new_products>
				<new_products_title>Newest Products</new_products_title>
				<show_sale_products>0</show_sale_products>
				<sale_products_title>Products on Sale</sale_products_title>
				<show_brands>1</show_brands>
				<brands_title>Our Brands</brands_title>
				<show_blog>1</show_blog>
				<blog_title>Latest From Our Blog</blog_title>
			</homeoptions>
			<product_list>
				<ajax_addtocart>1</ajax_addtocart>
				<addto_wishlist>1</addto_wishlist>
				<addto_compare>1</addto_compare>
				<ajax_wishlist>1</ajax_wishlist>
				<quick_view>1</quick_view>
				<hover_swap>0</hover_swap>
				<column_count>5</column_count>
				<picture_aspect>1</picture_aspect>
				<product_list_style>0</product_list_style>
				<layer>2</layer>
				<sale_label>1</sale_label>
				<new_label>1</new_label>
				<showgallery>1</showgallery>
            </product_list>
			<productpage>
				<brand>0</brand>
				<brand_image_extension>png</brand_image_extension>
                <brand_page_base_path></brand_page_base_path>
				<brand_link_search_enabled>1</brand_link_search_enabled>                
				<use_zoom>1</use_zoom>
				<use_carousel>1</use_carousel>
			</productpage>            
			<share>
				<use_share>1</use_share>
				<share_code><![CDATA[<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>            
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ee497253584a61e"></script>]]></share_code>
			</share>
			<social>
				<twitter>350896567504478208</twitter>
				<twitter_num_tweets>1</twitter_num_tweets>
				<facebook>envato</facebook>
				<facebook_faces>0</facebook_faces>
			</social>
			<background>
                <maincolor></maincolor>
                <pattern></pattern>
                <bg_repeat></bg_repeat>
                <bg_attachment></bg_attachment>
                <bg_position_x></bg_position_x>
                <bg_position_y></bg_position_y>
			</background>
            <colors>
                <primary_color></primary_color>
                <primary_hover></primary_hover>
				<secondary_color></secondary_color>
                <secondary_hover></secondary_hover>
            </colors>
		</milanoconfig>
	</default> 
</config>
